<% content_for :hide_nav_search, true %>

<form class="search-form search-form-xl" action="<%= conferences_path %>" role="search">
  <div class="form-group">
    <div class="input-group input-group-xl input-group-rounded">
      <input type="text" class="form-control conference-search search-input-xl" name="query" placeholder="What conference do you want to keep on your radar?">
      <span class="input-group-btn">
        <button type="submit" class="btn"><span class="fui-search"></span></button>
      </span>
    </div>
  </div>
</form>

<h2 class="search-form-hint lead">Search for a conference above and then select "Put it on my radar!" on the results page. That conference will now show up on your radar <i class="what-antenna"></i></h2>
