
<ol class="breadcrumb">
  <li class="hypertext-link-format"><%= link_to "All Conferences", conferences_path %></li>
  <li class="active">My Radar</li>
</ol>

<% if user_signed_in? && !conferences.andand.empty? -%>
  <%= render "my_conferences", :locals => { :conferences => conferences } %>
<% else %>
  <%= render "big_search" %>
<% end %>

