<div class="conference row clearfix">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <table>
          <tbody>
            <tr>
              <td class="conference-website-cell">
                <a class="website-globe-icon" href="<%= conference.url %>" target="_blank"><span class="what-website icon-left"></span></a>
              </td>           
              <td>
                <p class="hypertext-link-format">
                  <%= link_to truncate(conference.title, :length => 90), conference %>
                <small class="author"><%= [conference_dates(conference), conference.city_state].join(" | ") %> </small>
                </p>
              </td>
              <div class="pull-right conference-button-bar">
                <%= render :partial => "conferences/follow_conference", :locals => { :conference => conference } %>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
      
