<%= link_to follow_conference_path(conference), method: :post, class: "btn btn-danger btn-lg btn-radar", :data => { :disable_with => radar_sweep_icon } do %>
  <span class="fa-stack icon-left"><i class="what-antenna fa-stack-2x"></i></span>
  <span class="btn-text">
    <% if user_signed_in? && current_user.conferences.include?(conference) %>
      On my radar
    <% else %>
      Keep it on my radar!
    <% end %>
    <%= content_tag(:span, { :class => "badge" }.deep_merge(tooltip_popup("People who have this conference on their radar"))) do %>
      <%= conference.follower_count %>
    <% end %>
  </span>
<% end %>

