<div class="row">
  <div class="col-sm-4">
    <%= link_to calendar_path do %>
      <div class="panel panel-warning panel-alt sticky-note">
        <div class="panel-heading text-center">
          <i class="glyphicon glyphicon-calendar"></i>
        </div>
        <div class="panel-body text-center">
          <h3>Calendar</h3>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= link_to map_path do %>
      <div class="panel panel-danger panel-alt sticky-note">
        <div class="panel-heading text-center">
          <i class="glyphicon glyphicon-globe"></i>
        </div>
        <div class="panel-body text-center">
          <h3>Map</h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
