<% content_for :title, "Edit #{conference.title}" %>
<ol class="breadcrumb">
  <li class="hypertext-link-format"><%= link_to "All Conferences", conferences_path %></li>
  <li class="hypertext-link-format"><%= link_to conference.title, conference %></li>
  <li class="active">Editing</li>
</ol>

<h1>Edit Conference</h1>

<%= render 'form' %>
