<ol class="breadcrumb">
  <li class="hypertext-link-format"><%= link_to "All Conferences", conferences_path %></li>
  <li><%= link_to conference.title, conference %></li>
  <li class="active">Editing</li>
</ol>

<h1>Edit Conference</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= render 'form' %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
