<ol class="breadcrumb">
  <% if params[:query].present? %>
    <li class="hypertext-link-format"><%= link_to "All Conferences", conferences_path %></li>
    <li class="active">Search for "<%= params[:query] %>"</li>
   <% else %>
    <li class="active">All Conferences</li>
  <% end %>
</ol>

<%= paginate conferences %>

<%= render conferences %>
