<ol class="breadcrumb">
  <li><%= link_to "All Conferences", conferences_path %></li>
  <li class="active">New conference</li>
</ol>

<h3 class="text-center">New Conference</h3>

<div class = "container-fluid">
	<div class = "row">
		<div class = "col-md-2"></div>
		<div class = "col-md-8">
			<%= render 'form' %>
		</div>
		<div class = "col-md-2"></div>
	</div>
</div>