<ol class="breadcrumb">
  <li class="hypertext-link-format"><%= link_to "All Conferences", conferences_path %></li>
  <li class="active">New conference</li>
</ol>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= render 'form' %>
    </div>
    <div class="col-md-3">
<!-- 		<p>Use <em>DuckDuckGo</em> below to <strong>find your conference</strong>:</p>
    	<iframe width="500" height="400" src="//duckduckgo.com/" frameborder="2" ></iframe>  -->
    </div>
  </div>
</div>



