
<h3>Sign in</h3>

<div class="linked-accounts">
  You are currently able to sign in to your account using:
  <ul class="image-list signin-icons">
    <% user.omniauth_accounts.each do |account| %>
      <li><%= omniauth_image_tag account.provider %></li>
    <% end %>
  </ul>

  <% unless user.remaining_providers.empty? %>
    You can also link your account to sign in with:
    <%= render :partial => "devise/sessions/omniauth_sign_in", :locals => { :omniauth_providers => user.remaining_providers } %>
  <% end %>
</div>


