<% content_for :title, "Account" %>
<% if current_user.cannot_login? %>
  <%= render "devise/sessions/omniauth" %>
<% else %>

<div class="container-fluid">
  <div class="row">
  	<div class="col-md-1"></div>
    <div class="col-md-4">
    	<h3>Account</h3>
    	<%= render 'form', :locals => { :user => user } %>
    </div>
    <div class="col-md-1">
    	<hr class="account hidden-xs" width="1">
    </div>
    <div class="col-md-4">
    	<%= render 'omniauth_accounts', :locals => { :user => user } %>
		<% end %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
