/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap-datepicker3
 *
 * Bower CSS files
 *= require fullcalendar
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default {
  background-color: rgba(255, 127, 48, 1);
  border-color: rgba(231, 231, 231, 0);
  margin-bottom: 34px;
  #newconference{
    font-weight: bold;
    font-size: 19px;
  }

  .navbar-nav > li > a {
    color: #FFF;
  }

  .navbar-brand {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0px;
    padding: 5px 0 15px 0;
    a:hover, a:active {
      text-decoration: none;
      color: white;
    }
    a {
      color: #2F363E;
    }

    img {
      max-height: 40px;
      display: inline-block;
    }
  }

}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333333;
	background-color: #F6F6EF;
}

#main_content {

	a:hover {
	text-decoration: none;
	}
	#favorite-website-btn-group{
		padding-top: 10px;
	}

	#content {
		float: none;
	}
	padding-bottom: 100px;
	.link {
		padding: 2em 1em;
		border-bottom: 1px solid #e9e9e9;
		.title {

			a {
				color: #FF4500;
			}
		}
	}
	.comments_title {
		margin-top: 2em;
	}
	#comments {
		.comment {
			padding: 1em 0;
			border-top: 1px solid #E9E9E9;
			.lead {
				margin-bottom: 0;
			}
		}
	}
}

