// Bootstrap grid limits
@import "bootstrap/variables";

@import "variables";

body.page {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: $text-color;
	background-color: #F6F6EF;
}

.page-container {
  padding-bottom: 100px;
  margin: 0 6px;

  @media (min-width: $screen-lg-min) {
    margin: 0 auto;
    max-width: $screen-lg-min;
  }

  a:hover {
    text-decoration: none;
  }
}

