.sticky-note {
  .glyphicon {
    font-size: 72px;
    color: white;
  }
  &.panel-warning .panel-heading {
    background-color: #F0AD4E;
  }
  &.panel-danger .panel-heading {
    background-color: #D9534F;
  }
}

.icon-left {
  margin-right: 5px;
}

.fc-view-container {
  font-size: 1em;
  background-color: white;
}

// Lists
.image-list {
  list-style-type: none;

  li {
    display: inline-block;
  }
  img {
    max-width: 128px;
  }
}

// Buttons
.btn-toolbar-wide {
  & > .btn:not(:first-child) {
    margin-left: 10px;
  }
}

// Iframes
.website-preview {
  width: 100%;
  height: 600px;
}
