@import "variables";

.sticky-note {
  .glyphicon {
    font-size: 72px;
    color: white;
  }
  &.panel-warning .panel-heading {
    background-color: #F0AD4E;
  }
  &.panel-danger .panel-heading {
    background-color: #D9534F;
  }
}

.icon-left {
  margin-right: 5px;
}

.fc-view-container {
  font-size: 1em;
  background-color: white;
}

// Lists
.image-list {
  list-style-type: none;

  li {
    display: inline-block;
  }
  img {
    max-width: 128px;
  }
}

// Images
.img-bordered {
  border-radius: 4px;
  border: 1px solid #ddd;
}

// Buttons

.btn-toolbar-wide {
  & > .btn:not(:first-child) {
    margin-left: 10px;
  }
}

.btn-radar {
  color: white;
  background-color: $button-blue;
  padding: 6px 13px;
  .btn-text {
    font-size: 16px;
  }

  .badge {
    color: #ffffff;
    background-color: #0C5385;
    margin-left: 6px;
    font-size: 13px;
  }

  &:hover, &.hover, &:focus, &:active, &.active {
    color: #ffffff;
    background-color: lighten($button-blue, 10%);
    border-color: lighten($button-blue, 10%);
  }
}



