.headline {
  padding: 40px 0;
  margin-bottom: 50px;
  text-align: center;
  word-wrap: break-word;
}

.dates {
  font-size: 22px;
}

.submitter {
  font-size: 18px;
  color: #777777;
}

.conference.row.clearfix{
	padding-top: 23px;
}

.conference-button-bar {
  padding-top: 10px;
}

.comments-section {
  margin-top: 2em;

  .comment {
    padding: 1em 0;
    border-top: 1px solid #E9E9E9;
    .lead {
      margin-bottom: 0;
    }
  }
}


