@import "variables";

.headline {
  padding: 40px 0;
  margin-bottom: 50px;
  text-align: center;
  word-wrap: break-word;
}

.dates {
  font-size: 22px;
}

.submitter {
  font-size: 18px;
  color: #777777;
}

.conference.row.clearfix{
  padding-top: 10px;
}

.hypertext-link-format{
  p {
    font-size: 20px;
  }
  a {
    color: $hyperlink-color;
  }
  a:hover {
    color: #2d3644;
    text-decoration: none;
    border-bottom: 1px blue dotted;
  }
}

.conference-button-bar {
  padding-top: 10px;
}

.conference-website-cell {
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.website-globe-icon {
  a, span {
    color: $hyperlink-color;
    font-size: 24px;
  }
  a, span:hover {
    color: #2d3644;
    text-decoration: none;
  }

}

.comments-section {
  margin-top: 2em;

  .comment {
    padding: 1em 0;
    border-top: 1px solid #E9E9E9;
    .lead {
      margin-bottom: 0;
    }
  }
}

.author {
  display: block;
  margin-top: -10px;
  font-size: 14px;
  margin-top: -9px;
}

.btn-radar {
  .following-text {
    display: none;
  }
  .not-following-text {
    display: inline;
  }

  &.following {
    .following-text {
      display: inline;
    }
    .not-following-text {
      display: none;
    }
  }
}

.nothing-found {
  margin: 50px 0 150px 0;
}
