.map-marker {
  width: 28px;
}

#conference-browser {
  margin-top: 30px;

  .fc-view-container, 
  .map-container {
    margin-bottom: 20px;
  }
}

.conference-list {
  .marker-col {
    width: 44px;
    border-right: none;
  }
  .button-col {
    width: 100px;
    border-left: none;
  }
  .contents-col {
    border-left: none;
    border-right: none;
  }
}


.event-row {
  .event-name {
    font-size: 20px;
  }
  .event-dates {
    font-size: 18px;
  }
}

.search-form-hint {
  width: 60%;
  line-height: 1.8;
  text-align: justify;
  margin: 40px auto;
  font-size: 26px;
}
