// Bootstrap grid limits
@import "bootstrap/variables";

@import "variables";

.navbar-wc {
  background-color: $navbar-color;
  margin: 8px;
  padding: 6px 0;
  font-size: 16px;
  font-weight: bold;

  .search-form {
    font-weight: normal;
  }

  .navbar-nav > li > a {
    color: #FFF;
    &:hover, &:focus {
      color: $text-color;
    }
  }

  .navbar-nav > .open {
    & > a, & > a:hover, & > a:focus {
      background-color:$highlight-color;
      color: #fff;
    }
  }

  .dropdown-menu {
    background-color: $navbar-color;
    a:hover{
      color: $text-color;
      background-color:$highlight-color;
    }

    & > li > a {
      padding: 8px 16px;
      line-height: 1.429;
      color: #FFF;
    }
  }
  .navbar-brand {
    color: $text-color;
    font-weight: bold;
    font-size: 24px;
    &:hover, &:focus {
      color: #FFF;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 20px;
    }
  }

  .navbar-toggle {
    border-color: white;
    .icon-bar {
      background-color: white;
    }
  }

  @media (max-width: $screen-xs-max) {
    margin: 0;
    border-radius: 0;
  }
}

.navbar-form .input-group > .form-control {
  width: auto;
}

.navbar-brand .brand-image {
  max-height: 40px;
  float: left;
  margin-top: -5px;
  margin-right: 8px;
}

.navbar-default .navbar-nav > .open > a:focus {
   color: black;
}

.radar-link {
  .nohover {
    display: inline;
  }
  .hover {
    display: none;
  }
  &:hover {
    .nohover {
      display: none;
    }
    .hover {
      display: inline;
    }
  }
}
.navbar-nav > li > a.radar-link {
  padding-top: 12px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

