// Bootstrap grid limits
@import "bootstrap/variables";

@import "variables";

.navbar-wc {
  margin: 8px;
  padding: 6px 0;
  font-size: 16px;
  font-weight: bold;

  .search-form {
    font-weight: normal;
  }

  .navbar-nav > li > a {
    color: #FFF;
    &:hover, &:focus {
      color: $text-color;
    }
  }

  .navbar-nav > .open {
    & > a, & > a:hover, & > a:focus {
      
      color: #fff;
    }
  }

  .dropdown-menu {
    background-color: #E0A600;
    a:hover{
      color: #FFF;
      background-color:#333;
    }
  

    & > li > a {
      padding: 8px 16px;
      line-height: 1.429;
      color: #FFF;
    }
  }
  
  .navbar-brand {
    color: $text-color;
    font-weight: bold;
    font-size: 24px;
    &:hover, &:focus {
      color: #FFF;
    }
  }
}

.navbar-default .navbar-nav > .open > a .caret, .navbar-default .navbar-nav > .open > a:hover .caret, .navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}


.navbar-form .input-group > .form-control {
  width: auto;
}

.navbar-brand .brand-image {
  max-height: 40px;
  float: left;
  margin-top: -5px;
  margin-right: 8px;
}


.radar-link {
  .nohover {
    display: inline;
  }
  .hover {
    display: none;
  }
  &:hover {
    .nohover {
      display: none;
    }
    .hover {
      display: inline;
    }
  }
}
.navbar-nav > li > a.radar-link {
  padding-top: 12px;
}


