// Bootstrap grid limits
@import "bootstrap/variables";

@import "variables";

.search-form {
  .twitter-typeahead {
    width: calc(100% - 50px);
    .form-control {
      width: 100%;
      min-width: 200px;
    }
  }

  .form-control {
    border-radius: 4px 0 0 4px !important;
  }

  .input-group-btn {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    z-index: 4;
    .btn {
      vertical-align: bottom;
    }
  }

  .tt-suggestions {
    text-align: left;
  }

  .tt-hint {
    color: grey;
  }

  .twitter-typeahead .tt-suggestion {
    .conference-title {
      font-size: 20px;
      font-weight: bold;
    }

    .conference-location {
      float: right;
      font-style: italic;
    }

    .new-conference {
      font-style: italic;
    }

    .new-conference-title {
      font-style: normal;
      font-weight: bold;
    }
  }


  @media (max-width: $screen-xs-max) {
    .input-group {
      width: 100%;
    }
  }
}

.search-form.search-form-xl {
  .input-group {
    width: 100%;
  }
  .form-control {
    width: calc(100% - 95px);
  }
  .twitter-typeahead {
    width: calc(100% - 90px);
    .form-control {
      width: 100%;
    }
  }
  .conference-search {
    border-radius: 37px 0 0 37px !important;
    height: 73px;
    padding: 10px 16px 10px 31px;
    font-size: 32px;
    line-height: 1.318;
    border-radius: 6px;
  }

  .twitter-typeahead .tt-suggestion {
    p {
      font-size: 20px;
      line-height: 28px;
    }

    .conference-title {
      font-size: 30px;
    }
  }
}

// Flat UI Twitter Typeahead styles

.twitter-typeahead {
  width: 100%;

  .tt-dropdown-menu {
    width: 100%;
    margin-top: 5px;
    border: 2px solid $navbar-color;
    padding: 5px 0;
    background-color: white;
    border-radius: 8px;
  }

  .tt-suggestion {
    p {
      padding: 6px 14px;
      font-size: 16px;
      line-height: 1.429; // ~20px
      margin: 0;
    }

    &:first-child,
    &:last-child {
      p {
        padding: 6px 14px;
      }
    }
    &.tt-is-under-cursor, // Deprecated
    &.tt-cursor {
      cursor: pointer;
      color: #fff;
      background-color: $highlight-color;
    }
  }
}
