<%= content_for(:head_javascript) do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Nenv.google_browser_api_key}" %>
<% end %>

<div class="map-container">
  <div id="conference-map" class="map"></div>
</div>

